In [2]:
import numpy as np
import pandas as pd
#from rules import *

dirty_iris=pd.read_csv('dirty_iris.csv')
dirty_iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             6.4          3.2           4.5          1.5  versicolor
1             6.3          3.3           6.0          2.5   virginica
2             6.2          NaN           5.4          2.3   virginica
3             5.0          3.4           1.6          0.4      setosa
4             5.7          2.6           3.5          1.0  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.1           5.6          2.4   virginica
146           5.6          3.0           4.5          1.5  versicolor
147           5.2          3.5           1.5          0.2      setosa
148           6.4          3.1           NaN          1.8   virginica
149           5.8          2.6           4.0          NaN  versicolor

[150 rows x 5 columns]

In [3]:
complete=len(dirty_iris.dropna())
pcomplete=(complete/len(dirty_iris))*100

print("No. of complete observations= ",complete)
print("Percentage of complete observations= ",pcomplete)

No. of complete observations=  96
Percentage of complete observations=  64.0

In [4]:
iris=dirty_iris.replace([np.inf,-np.inf],np.nan)
iris[iris.iloc[:,:4]<0]=np.nan
iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             6.4          3.2           4.5          1.5  versicolor
1             6.3          3.3           6.0          2.5   virginica
2             6.2          NaN           5.4          2.3   virginica
3             5.0          3.4           1.6          0.4      setosa
4             5.7          2.6           3.5          1.0  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.1           5.6          2.4   virginica
146           5.6          3.0           4.5          1.5  versicolor
147           5.2          3.5           1.5          0.2      setosa
148           6.4          3.1           NaN          1.8   virginica
149           5.8          2.6           4.0          NaN  versicolor

[150 rows x 5 columns]

In [12]:
ruleset={'1' : check_species, '2' : check_positive, '3' : check_petal, '4' : check_sepal, '5' :  compare}

X=[True]*len(dirty_iris)

for i in ruleset:
    print(ruleset[i](dirty_iris), end = '\n\n')
    #X = X & ruleset[i](data)

NameError: name 'check_species' is not defined